{% extends 'layout.html' %}

{% block title %}
    Pumpkin Pie Recipe
{% endblock %}

{% block content %}
    <h1>Pumpkin Pie</h1>
    <img src="{% static 'images/pumpkin_pie.jpg' %}" alt="Pumpkin Pie" />

    <div class="ingredients">
        <h2>Ingredients:</h2>
        <ul>
            {% for ingredient in ingredients %}
                <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="instructions">
        <h2>Instructions:</h2>
        <ol>
            {% for step in instructions %}
                <li>{{ step }}</li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}