{% extends 'layout.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/main.js' %}" defer></script>

{% block title %}
    Spaghetti Recipe
{% endblock %}

{% block content %}
    <h1>Spaghetti</h1>
    <div class="image container">
        <img src="media/spaghetti.jpg" class="card-img-top" alt="Spaghetti">
    
    <div class="ingredients">
        <h2>Ingredients:</h2>
        <ul>
            {% for ingredient in ingredients %}
                <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="instructions">
        <h2>Instructions:</h2>
        <ol>
            {% for step in instructions %}
                <li>{{ step }}</li>
            {% endfor %}
            
        </ol>
    </div>
{% endblock %}